* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 100vh;
    display: flex;
}

.left {
    flex: 0 1 5%;
    order: 0;
    position: fixed;
    height: 100vh;
    width: 3%;
    background: #000000;

}

.nav-icons {
    display: flex;
    flex-direction: column;
    margin: 5% 1%;
}

i .fas {
    color: #d2dae2;
}

.nav-icons a {
    margin: 100% 0;
    text-decoration: none;
    color: #d2dae2;
}

.content {
    flex: 1 1 95% !important;
    order: 1;
}

.main-content {
    display: flex;
    flex-direction: column;
}

.hero {
    height: 80vh;
    background: #f6f0e6;
    display: flex;
    flex-direction: row;

}



.hero-intro {
    margin: 10% 0 0 10%;
    width: 50%;
    background: transparent;
}

.hero-intro h2 {
    font-size: 4em;
    font-weight: 200;
}

.hero-intro p {
    font-size: 2.6em;
    font-weight: 500;

}

.hero-intro button {
    width: 40%;
    height: 50px;
    margin: 4%;
    background: #1e272e;
    border: #000000;

    border-radius: .8em;

}

.hero-intro button a {
    text-decoration: none;
    color: #fdfaf6;

}


.hero-img {
    margin: 10% 10% 0 0;
    width: 50%;
    background: transparent;
    width: fit-content;
    height: fit-content;
}

.hero-img img {
    border-radius: 10%;
}

.about {
    height: 80vh;
    background: #f2ebeb;
}


.about-content {
    background: #d2dae2;
    margin: 8% auto;
    height: 60%;
    width: 80vw;
    display: flex;
    flex-direction: row;
    border-bottom-left-radius: 1em;
    border-top-left-radius: 1em;
}

.about-content img {
    width: 40%;

    border-radius: 1em;
}

.about-desc h2 {
    text-align: center;
    padding-top: 3%;
}



.about-desc p {
    padding: 2% 8%;

}

.skills {
    height: 80vh;
    background: #d6f4fa;
}

.skills-content {
    background: whitesmoke;
    margin: 8% auto;
    height: 70%;
    width: 80vw;

}

.skills-content h2 {
    text-align: center;
    margin-bottom: 3%;
    padding-top: 3%;
}

.skills-icons {
    display: flex;
    justify-content: space-evenly;
}

.projects {
    height: 80vh;
    background: url(./imgs/pexels-scott-webb-136419.jpg);
}

.projects-content {
    background: whitesmoke;
    margin: 5% auto;
    height: 80%;
    width: 80vw;
}

.projects-content h2 {
    text-align: center;
    margin-bottom: 3%;
    padding-top: 3%;
}

.project-lists {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.project-card {
    width: 20%;
    height: 15em;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);

}

.project-card-desc a {
    text-decoration: none;
    color: #218c74;
}

.project-card img {
    width: 100%;
    height: 70%;

}

.project-card-desc {
    text-align: center;
}

.projects-content button {
    margin-top: 3%;
    margin-left: 80%;
    width: 10%;
    height: 50px;
    background: #485460;
    border: #000000;
    color: whitesmoke;
    border-radius: .8em;

}

.projects-content button a {
    text-decoration: none;
    color: whitesmoke;
}

.contact {

    height: 80vh;
    background: url(./imgs/pexels-lumn-399161.jpg);
    width: 100vw;
}

.contact h2 {
    text-align: center;
    margin-top: 2%;
    color: black;
}

.contact-content {
    background: #fdfaf6;
    margin: 3% auto;
    height: 70%;
    width: 80vw;
}

.contact-content form {
    padding-left: 5%;
    padding-top: 3%;
}

b {
    color: red;
}

.contact-content button {
    width: 10%;
    height: 50px;
    background: #485460;
    border: #000000;
    color: whitesmoke;
    border-radius: .8em;
}



.right {
    flex: 0 0 5%;
    order: 2;
    position: fixed;
    right: 0%;
    height: 100vh;
    width: 3%;
    background: transparent;
}

.socials-icons {
    display: flex;
    flex-direction: column;
    margin: 5% 1%;
}

.socials-icons a {
    margin: 100% 0;
    text-decoration: none;
    color: #0f1123;
}