* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 100vh;
    display: flex;
}

.left {
    flex: 0 1 5%;
    order: 0;
    position: fixed;
    height: 100vh;
    width: 3%;
    background: #000000;

}

.nav-icons {
    display: flex;
    flex-direction: column;
    margin: 5% 1%;
}

i .fas {
    color: #d2dae2;
}

.nav-icons a {
    margin: 100% 0;
    text-decoration: none;
    color: #d2dae2;
}

.content {
    flex: 1 1 95% !important;
    order: 1;
}

.main-content {
    display: flex;
    flex-direction: column;
}

.hero {
    height: 80vh;
    background: #ef5777;
    display: flex;
    flex-direction: row;
    width: 100vw;

}



.hero-intro {
    margin: 3%;
    width: 50%;
    background: #d2dae2;
}

.hero-img {
    margin: 3%;
    width: 50%;
    background: #485460;
}

.about {
    height: 80vh;
    background: url(./imgs/about-background.jpg);

}

.about-content {
    background: #6c5ce7;
    margin: 5%;
    height: 80%;
    width: 100vw;
}

.skills {
    height: 80vh;
    background: url(./imgs/skills-background.jpg);
}

.skills-content {
    background: whitesmoke;
    margin: 5%;
    height: 80%;
}


.projects {
    height: 80vh;
    background: #ffa801;
}

.projects-content {
    background: whitesmoke;
    margin: 5%;
    height: 80%;
}

.contact {

    height: 80vh;
    background: url(./imgs/contact-background.jpg);
    width: 100vw;
}

.contact-content {
    background: #fdfaf6;
    margin: 5%;
    height: 80%;
}


.right {
    flex: 0 0 5%;
    order: 2;
    position: fixed;
    right: 0%;
    height: 100vh;
    width: 3%;
    background: transparent;
}

.socials-icons {
    display: flex;
    flex-direction: column;
    margin: 5% 1%;
}

.socials-icons a {
    margin: 100% 0;
    text-decoration: none;
    color: #0f1123;
}